<div class="tile mb-4">
    <div class="row">
        <tree-root [nodes]="nodes" [options]="treeOptions" #profileCfgTree>
            <!--0ng-template #treeNodeWrapperTemplate let-node let-index="index">
                <span [class]="node.data.className + 'Index'">{{ index }}</span>
                <input type="checkbox"><span>&rarr;</span>
                <span [class]="node.data.className" [class.title]="true">{{ node.data.title }}</span>
            </ng-template-->
        </tree-root>
    </div>
</div>